.c-form{
    position: absolute;
    z-index: 2;
    top: 19px;
    right: 15%;
    &:hover{
        transform:translateX(0px)!important;
    }
    &__text{
        width: 250px;
        height: 30px;
        border: 1px solid #E84F82;
        background: #fff url(../images/search.png) no-repeat 17px center;
        background-size: 25px 25px;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}