//勝手にクラス名がつく部分


//パンクズリスト
.current-item{
    font-size: 13px;
    line-height:1.5em;
}
.home,.taxonomy.category{
    color:#000;
    font-size: 13px;
}
.fa-home{
    font-size: 13px;
}
//パンクズリストここまで
